{%extends 'base.html'%}

{%block title%}Rates{% endblock title%}

{%block content%}


    <h2>Rates</h2>
<form method="get">
{{ filter.form.as_p }}
<button type="submit" class="btn btn-primary">
<span class="glyphicon glyphicon-search"></span> Search
</button>
</form>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Created</th>
      <th scope="col">Source</th>
      <th scope="col">Currency</th>
      <th scope="col">Buy</th>
      <th scope="col">Sale</th>
    </tr>
        {% for rate in object_list %}

    <tr><td>{{rate.created}}</td>
    <td>{{rate.get_source_display}}</td>
    <td>{{rate.get_currency_display}}</td>
    <td>{{rate.buy}}</td>
    <td>{{rate.sale}}</td></tr>

        {% endfor %}
    </table>
    {%include 'includes/pagination.html'%}

        {% endblock content%}